<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <full_page_cache>
                <bypass_header>X-Blackfire-Query</bypass_header>
            </full_page_cache>
        </system>
    </default>
</config>
