<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\PageCache\Kernel">
        <plugin name="phpro_bypass_page_cache" type="Phpro\BypassPageCache\Plugin\BypassPageCache" />
    </type>
</config>
